NODE_ENV=development
PORT=8000

DATABASE_URL=postgresql://postgres:root@localhost:5432/influencer_db
DB_SYNC=true

REDIS_URL=redis://localhost:6379

JWT_SECRET=super-secret-key
JWT_EXPIRES_IN=1d

MY_AWS_ACCESS_KEY=your-access-key
MY_AWS_SECRET_KEY=your-secret-key
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=ap-southeast-2
AWS_S3_BUCKET=influencer308
AWS_S3_PUBLIC_URL=

SENDGRID_API_KEY=
TWILIO_ACCOUNT_SID=AC3cd5912a3b438a7402961005b9e5c2a7
TWILIO_AUTH_TOKEN=7ea3d91e2c6d9fd57c711ea28893764b
TWILIO_SERVICE_SID=
PLATFORM_NAME=Influencer Marketplace
EMAIL_FROM=noreply@example.com
FRONTEND_URL=http://localhost:3000
